<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:h2:file:C:\Users\1\IdeaProjects\INTERNETSHOP\src\main\resources\dbfile\file.bd</property>
    <property name="connection.driver_class">org.h2.Driver</property>
    <property name="connection.username"/>
    <property name="connection.password"/>

    <!-- SQL dialect -->
    <property name="dialect">org.hibernate.dialect.H2Dialect</property>

    <!-- Echo all executed SQL to stdout -->
    <property name="show_sql">true</property>

    <!-- Drop and re-create the database schema on startup -->
    <property name="hbm2ddl.auto">create</property>

    <mapping class="com.epam.internetshop.domain.User"/>
    <mapping class="com.epam.internetshop.domain.Product"/>
    <mapping class="com.epam.internetshop.domain.Payment"/>

  </session-factory>
</hibernate-configuration>